.visor {
    margin: 0px;
    font-size: 25px;
    width: 244px;
    height: 37px;
    background-color: #C4C4C4;
    text-align: end;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
    border: solid #000;
    border-bottom: none;  
}

.limite {
    width: 244px;
}

.visor.-resul {
    border: solid #000;
    border-top: none;
}